﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ChucNang.aspx.cs" Inherits="WebUI.ChucNang" %>
<%@ Register src="UserControl/DMChucNang/ListDMChucNang.ascx" tagname="ListDMChucNang" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Danh sách Chức năng
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:ListDMChucNang ID="ListDMChucNang1" runat="server" />
</asp:Content>
