﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CoSo.aspx.cs" Inherits="WebUI.CoSo" %>
<%@ Register src="UserControl/DMCoSo/ListDMCoSo.ascx" tagname="ListDMCoSo" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Danh sách Cơ sở
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:ListDMCoSo ID="ListDMCoSo1" runat="server" />
</asp:Content>
