﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="DoiTuongPCGD.aspx.cs" Inherits="WebUI.DoiTuongPCGD" %>
<%@ Register src="UserControl/DoiTuongPCGD/ListDoiTuongPCGD.ascx" tagname="ListDoiTuongPCGD" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Danh sách Đối tượng phổ cập giáo dục
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:ListDoiTuongPCGD ID="ListDoiTuongPCGD1" runat="server" />
</asp:Content>
