﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Huyen.aspx.cs" Inherits="WebUI.Huyen" %>
<%@ Register src="UserControl/Huyen/ListHuyen.ascx" tagname="ListHuyen" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Danh sách Huyện
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:ListHuyen ID="ListHuyen1" runat="server" />
</asp:Content>
