﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PhanQuyenNguoiDung.aspx.cs" Inherits="WebUI.PhanQuyenNguoiDungaspx" %>
<%@ Register src="UserControl/Users/AssignUserToRole.ascx" tagname="AssignUserToRole" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Phân quyền chức năng cho người dùng
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:AssignUserToRole ID="AssignUserToRole1" runat="server" />
</asp:Content>
