﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PhanQuyenVaiTroChucNang.aspx.cs" Inherits="WebUI.PhanQuyenVaiTroChucNang" %>
<%@ Register src="UserControl/Users/AssignRoleToFunction.ascx" tagname="AssignRoleToFunction" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Phân quyền vai trò chức năng
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:AssignRoleToFunction ID="AssignRoleToFunction1" runat="server" />
</asp:Content>
