﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="TaiKhoan.aspx.cs" Inherits="WebUI.TaiKhoan" %>

<%@ Register src="UserControl/Users/ListUser.ascx" tagname="ListUser" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
   Danh sách tài khoản người dùng
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:ListUser ID="ListUser1" runat="server" />
</asp:Content>