﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ThemMoiTaiKhoan.aspx.cs" Inherits="WebUI.ThemMoiTaiKhoan" %>

<%@ Register src="UserControl/Users/AddUser.ascx" tagname="AddUser" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Thêm mới tài khoản
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:AddUser ID="AddUser1" runat="server" />
</asp:Content>
