﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ThemMoiDoiTuong.aspx.cs" Inherits="WebUI.ThemMoiDoiTuong" %>
<%@ Register src="UserControl/DoiTuongPCGD/AddDoiTuong.ascx" tagname="AddDoiTuong" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Thêm mới đối tượng
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:AddDoiTuong ID="AddDoiTuong1" runat="server" />
</asp:Content>
