﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ThemMoiCoSo.aspx.cs" Inherits="WebUI.ThemMoiCoSo" %>
<%@ Register src="UserControl/DMCoSo/AddCoSo.ascx" tagname="AddCoSo" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Thêm mới cơ sở
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:AddCoSo ID="AddCoSo1" runat="server" />
</asp:Content>