﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ThonXom.aspx.cs" Inherits="WebUI.ThonXom" %>
<%@ Register src="UserControl/ThonXom/ListThonXom.ascx" tagname="ListThonXom" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Danh sách Thôn-Xóm
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:ListThonXom ID="ListThonXom1" runat="server" />
</asp:Content>
