﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Tinh.aspx.cs" Inherits="WebUI.Tinh" %>
<%@ Register src="UserControl/Tinh/ListTinh.ascx" tagname="ListTinh" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:ListTinh ID="ListTinh1" runat="server" />
</asp:Content>
