﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="VaiTro.aspx.cs" Inherits="WebUI.VaiTro" %>
<%@ Register src="UserControl/Roles/ListRoles.ascx" tagname="ListRoles" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Danh sách vai trò
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:ListRoles ID="ListRoles1" runat="server" />
</asp:Content>
