﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Xa.aspx.cs" Inherits="WebUI.Xa" %>
<%@ Register src="UserControl/Xa/ListXa.ascx" tagname="ListXa" tagprefix="uc1" %>
<asp:Content ID="Content2" ContentPlaceHolderID="BreadCrumb" runat="server">
    Danh sách Xã
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:ListXa ID="ListXa1" runat="server" />
</asp:Content>
