﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.form-group {
    /*padding: 15px !important;*/
}

.navbar {
    margin-top: -50px !important;
}

.datepicker {
    float: left !important;
}

td > label, th > label{
    padding: 1px !important;
    margin-left: 10px !important;
}

table tbody tr:first-child th{
    text-align:center !important;
    color:#393939 !important;
    font-family:Arial;
    font-weight:500;
}
table tbody tr:first-child{
    background-color:#F2F2F2 !important;
    background-image: linear-gradient(to bottom,#f8f8f8 0,#ececec 100%) !important;
    background-repeat: repeat-x !important;
}
.modal-content {
    border-radius: 10px !important;
}