﻿html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
}
*
{
    font-family: Arial;
}
.HeadMenu
{
    height: 34px;
    line-height: 34px;
    min-width: 750px;
    background: #f1f1f1;
}
.HeadMenu ul
{
    list-style: none;
}
.HeadMenu ul li
{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 12px;
}
.HeadMenu ul li a
{
    color: Gray;
    text-decoration: none;
}
.HeadMenu ul li a:hover
{
    color: White;
}
.HeadMenu ul li:hover
{
    background-color: #028cee;
    color: White;
}
.HeadMenu ul li:hover a
{
    color: White;
}
#banner
{
    background-color: #028cee;
    min-width: 750px;
    height: 83px;
    margin-top: 2px;
}

.relative
{
    position: relative;
}

#logo
{
    float: left;
    cursor: pointer;
    margin-top: 11px;
}

#titleBanner
{
    float: left;
    margin-left: 20px;
}

#titleSo
{
    font-family: Arial;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    margin-top: 21px;
    text-transform: uppercase;
}

#titleHTTT
{
    font-family: Arial;
    font-weight: bold;
    color: #ffff00;
    font-size: 20px;
    margin-top: 7px;
}

#nenBannerRight
{
    position: absolute;
    right: 15px;
}

.titlePM
{
    font-family: Tahoma;
    font-weight: bold;
    color: #EB4A3F;
    font-size: 17px;
}

.MauPhanMem
{
}



html
{
    position: relative;
    min-height: 100%;
}

.footer
{
    position: absolute;
    bottom: 0;
    width: 100%; /* Set the fixed height of the footer here */
    height: 61px;
    background-color: #f1f1f1;
    min-width: 750px;
    border-top: 1px solid #cfcfcf;
}

.slidesp
{
    position: absolute;
    bottom: 61px;
    width: 100%; /* Set the fixed height of the footer here */
    height: 133px;
    background-color: #f5f5f5;
    min-width: 750px;
}

#footerRight
{
    margin-top: 5px;
    float: right;
    padding-right: 6px;
    color: #666;
    font-family: Arial;
    font-size: 13px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
}

.titleHTTTFooter
{
    color: #EB4A3f;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
}

.imageSo
{
    margin-top: 10px;
}

.absolute
{
    position: absolute;
}

.container
{
    margin: 0px auto;
}

@media (min-width:768px)
{
    .container
    {
        width: 750px;
    }
}

@media (min-width:992px)
{
    .container
    {
        width: 970px;
    }
}

@media (min-width:1200px)
{
    .container
    {
        width: 1170px;
    }
}
.itemQuangCao
{
    cursor: pointer;
}
