﻿#contentleft
{
    width: 453px;
    height: 464px;
    position: relative;
}

#HeadLogIn
{
    height: 48px;
    margin-bottom: 27px;
}
#HeadLogIn ul
{
    list-style: none;
}
#HeadLogIn ul li
{
    float: left;
    height: 48px;
    margin-right: 10px;
    color: #666;
    line-height: 48px;
}
#HeadLogIn ul li .DNHT
{
    font-weight: bold;
    font-size: 22px;
}
.textBox
{
    height: 30px;
    line-height: 30px;
}
.button1
{
    border: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background: #028cee;
    color: White;
    cursor: pointer;
}
.quenmk a
{
    text-decoration: none;
    color: #0066cc;
}
a
{
    text-decoration: none;
    color: #0066cc;
}
a:hover
{
    text-decoration: underline;
}
.ipcuaban span
{
    color: #028cee;
}
.KhoangCachLogin
{
    margin-bottom: 10px;
}
.ui-autocomplete
{
    height: 200px;
    overflow: scroll;
    max-width: 475px;
    font-size: 12px;
}
.neoslideshow
{
    position: relative;
    width: 453px;
    height: 464px;
}

.neoslideshow img
{
    position: absolute;
    left: 0;
    top: 0;
}
